---
---

.header-avatar {
    .header-avatar-img {
        border-radius: 0 !important; 
        width: 150px;  
        height: 150px; 
    }
}

.header-avatar-img {
    border-radius: 0 !important;
    object-fit: cover;
}

.header-avatar-img {
    border: 2px solid #ddd;  
    padding: 3px;           
    transition: all 0.3s;   
    
    &:hover {
        transform: scale(1.05);  
    }
}
